# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Desktop\DevStar\开发项目\v1-sp-demo\Spring-Boot-Demo\SpringBoot-Log4j2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
