<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.matemaster9.multi.dao.mysql.MySqlMapper">

    <insert id="insert" parameterType="tech.matemaster9.multi.dto.ActAuditBacklogDTO">
        insert into act_audit_backlog
        (activity_id, dept_id, submitter_id, submitter_name, submit_time, status, delete_flag, stamp)
        values (#{activityId}, #{deptId}, #{submitterId}, #{submitterName}, #{submitTime}, #{status}, #{deleteFlag},
                current_timestamp)
    </insert>

</mapper>